<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>


<div layout:fragment="content1">
    <div class="breadcrumb breadcrumb-style-one mb-0 ">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1 class="breadcrumb-title">Login</h1>
                <ul class="d-flex justify-content-center breadcrumb-items">
                    <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="../index.html">Home</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ul>
            </div>
        </div>
    </div>


    <section class="register-section pt-110">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-12">
                    <div class="register-btn-group">
                        <a th:href="@{/member/register}" class="register-btn style2">회원가입</a>
                        <a th:href="@{/auth/login}" class="login-btn style2">로그인</a>
                    </div>
                </div>
            </div>

            <div class="right-form-area">
                <h3>Login Your Account</h3>
                <form class="w-100" th:action="@{/auth/login}" method="post">
                    <div class="form-inner">
                        <label>이메일</label>
                        <input type="text" name="email" placeholder="Your email">
                    </div>
                    <div class="form-inner">
                        <label>비밀번호</label>
                        <input type="password" name="password" id="password" placeholder="Password"/>
                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                    </div>
<!--                    <div class="form-inner d-flex justify-content-between flex-wrap">-->
<!--                        <div class="form-group">-->
<!--                            <input type="checkbox" id="html">-->
<!--                            <label for="html">Remember Me</label>-->
<!--                        </div>-->

<!--                        <a href="#" class="forgot-pass">Forgotten Password</a>-->
<!--                    </div>-->
                    <input type="submit" value="로그인" class="account-btn">
                </form>

<!--                <div class="alternate-signup-box">-->
<!--                    <h6>or Sign up WITH</h6>-->
<!--                    <div class="btn-group gap-4">-->
<!--                        <a href="" class="google-btn d-flex align-items-center"><i-->
<!--                                class='bx bxl-google'></i><span>Sign up with google</span></a>-->
<!--                        <a href="" class="facebook-btn d-flex align-items-center"><i-->
<!--                                class='bx bxl-facebook'></i>Sign up with facebook</a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>


</div>
</body>
</html>