.header-top {
  border-bottom: 1px solid rgba(136, 124, 225, 0.502);
  background-color: transparent;
  color: $primary-color;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 999;
  a {
    color: $primary-color;
  }
  select {
    border: none;
    outline: none;
    background: transparent;
    color: $primary-color;
    option {
      color: $gray-color;
    }
  }
  .my-account {
    padding: 7px 0px 7px 15px;
    text-align: center;
    .user {
      padding-right: 0;
      display: flex;
      justify-content: center;
      width: 40px;
      line-height: 40px;
      font-size: 20px;
      color: $primary-color;
      background: #5a4bcc;
      height: 40px;
      border-radius: 50%;
    }
  }
  .login {
    font-family: $secondary_font_family;
    margin-right: 15px;
  }
}

.header-bottom {
  padding: 15px 0;
  background: transparent;
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  top: 54px;
  z-index: 999;
  @include transition(all ease 0.3s);
  nav {
    padding: 0;
    .navbar-nav {
      li {
        a {
          padding: 10px 15px !important;
          color: $primary-color;
          text-transform: capitalize;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
        }
      }
    }
    .search-nav {
      .icon{
        display: none;
      }
      form {
        margin-left: 20px;
        position: relative;
        input {
          height: 40px;
          border-radius: 20px;
          background-color: rgba(18, 30, 105, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.3);
          color: $primary-color;
          padding: 0 45px 0 20px;
          &:focus{
            box-shadow: none;
          }
          &::placeholder {
            color: rgb(221, 220, 220);
            font-size: 16px;
            font-family: "Roboto", sans-serif;
          }
        }
        .btn-search {
          position: absolute;
          background: none;
          border: none;
          color: $primary-color;
          right: 0;
          top: 0;
          width: 40px;
          height: 40px;
          text-align: left;
          i {
            font-size: 14px;
          }
        }
      }
    }
  }
}
