<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
 <style>
  .image {
   text-align: center;
  }
  .image img {
   width: 220px;
   height: 220px;
   border-radius:50%;
   margin-bottom: 5%;
  }
   .blue {
    color: blue;
   }
  .red {
   color: red;
  }
 </style>
</head>

<body>
<div layout:fragment="content1">
 <div class="breadcrumb breadcrumb-style-one mb-0 ">
  <div class="container">
   <div class="col-lg-12 text-center">
    <h1 class="breadcrumb-title">My Page</h1>
    <ul class="d-flex justify-content-center breadcrumb-items">
     <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a th:href="@{/}">Home</a></li>
     <li class="breadcrumb-item active">My Page</li>
    </ul>
   </div>
  </div>
 </div>

 <div class="privacy-policy-wrapper mt-110">
  <div class="container">
   <div class="row">
    <div class="col-lg-4">

     <div class="pp-buttons-wrap">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
       <button class="nav-link active" id="v-btn-pp1" data-bs-toggle="pill" data-bs-target="#v-pills-pp1" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="true">내 프로필 </button>
       <button class="nav-link" id="v-btn-pp2" data-bs-toggle="pill" data-bs-target="#v-pills-pp2" type="button" role="tab" aria-controls="v-pills-pp2" aria-selected="false">캐시</button>
       <button class="nav-link" id="v-btn-pp3" data-bs-toggle="pill" data-bs-target="#v-pills-pp3" type="button" role="tab" aria-controls="v-pills-pp3" aria-selected="false">계정</button>
       <button class="nav-link" id="v-btn-pp4" data-bs-toggle="pill" data-bs-target="#v-pills-pp4" type="button" role="tab" aria-controls="v-pills-pp4" aria-selected="false">경매 참여 내역</button>
       <button class="nav-link" id="v-btn-pp5" data-bs-toggle="pill" data-bs-target="#v-pills-pp5" type="button" role="tab" aria-controls="v-pills-pp5" aria-selected="false">경매 등록 내역</button>
       <button class="nav-link" id="v-btn-pp6" data-bs-toggle="pill" data-bs-target="#v-pills-pp6" type="button" role="tab" aria-controls="v-pills-pp6" aria-selected="false">찜한 상품</button>
       <button class="nav-link" id="v-btn-pp7" data-bs-toggle="pill" data-bs-target="#v-pills-pp7" type="button" role="tab" aria-controls="v-pills-pp7" aria-selected="false">키워드 알림</button>
       <button class="nav-link" id="v-btn-pp8" data-bs-toggle="pill" data-bs-target="#v-pills-pp8" type="button" role="tab" aria-controls="v-pills-pp8" aria-selected="false">1:1 문의 내역</button>
      </div>
     </div>
    </div>

    <div class="col-lg-8 pt-5 pt-lg-0">
     <div class="tab-content pp-tab-contents" id="v-pills-tabContent">

      <!-- 내 프로필 -->
      <div class="tab-pane fade show active pp-tab-body" id="v-pills-pp1" role="tabpanel" aria-labelledby="v-btn-pp1">
         <div class="container">
          <div class="image">
           <img id="profilePicture" th:src="${profileDto.profilePicture != null ? profileDto.profilePicture : 'assets/images/profile/basic-profile.png'}" alt="Profile Image">
          </div>
          <div class="single-widget">
           <h5 class="wdget-title">My Profile</h5>
           <ul class="widget-list">
            <li><span>닉네임 :</span><span th:text="${profileDto.nickname}"></span></li>
            <li><span>내 동네 :</span><span th:text="${profileDto.address}"></span></li>
            <li><span>매너지수 :</span><span th:text="${profileDto.mannerScore}"></span></li>
            <li><span>받은 매너 평가 :</span><span text=""></span></li>
           </ul>
           <div style="text-align: right">
            <a th:href="@{/mypage/profile-update}" class="alpha-btn-md-dark">Edit</a>
           </div>
          </div>
         </div>
      </div>


      <!-- 캐시 -->
      <div class="tab-pane fade" id="v-pills-pp2" role="tabpanel" aria-labelledby="v-btn-pp2">
       <div class="container">

        <!-- 캐시 충전/출금 -->
        <div class="single-widget">
         <h5 class="wdget-title">My Cash</h5>
         <ul class="widget-list">
          <li><label>잔액 :</label><span id="cash"></span></li>
         </ul>
         <div style="text-align: right">
          <a th:href="@{/cash/cash-charge}" class="alpha-btn-md-dark">충전</a>
          <a th:href="@{/cash/cash-withdrawal}" class="alpha-btn-md-dark">출금</a>
         </div>
        </div>

        <!-- 캐시 내역 조회 -->
        <div class="tab-inner-contentbox mt-0">
         <div class="item-describe-area">
          <ul class="nav nav-pills d-flex justify-content-center gap-sm-4 gap-1" id="pills-tab" role="tablist">
           <li class="nav-item" role="presentation">
            <button class="nav-link active describe-btn" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">전체 내역</button>
           </li>
           <li class="nav-item" role="presentation">
            <button class="nav-link describe-btn" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">입금 내역</button>
           </li>
           <li class="nav-item" role="presentation">
            <button class="nav-link describe-btn" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">출금 내역</button>
           </li>
          </ul>

          <!-- 전체 내역 -->
          <div class="tab-content" id="pills-tabContent">
           <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="describe-content">
             <table class="table table-striped">
              <thead class="table-dark">
              <tr>
               <th scope="col">Type</th>
               <th scope="col">Status</th>
               <th scope="col">Product Name</th>
               <th scope="col">Amount</th>
               <th scope="col">Date</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="transaction : ${transactionHistory}">
               <td th:text="${transaction.type}"></td>
               <td th:text="${transaction.status}"></td>
               <td>
                <a th:href="@{/auction/product/{productId}(productId=${transaction.productId})}" th:text="${transaction.productName}"></a>
               </td>
               <td>
                <span th:text="${transaction.amount < 0 ? transaction.amount : '+' + transaction.amount}"
                      th:classappend="${transaction.amount < 0 ? 'red' : 'blue'}"
                      class="amount">
                </span>
               </td>
               <td th:text="${#dates.format(transaction.date, 'yyyy. MM. dd. HH: mm : ss')}"></td>
              </tr>
              </tbody>
             </table>
            </div>
           </div>

           <!-- 입금 내역 -->
           <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="describe-content">
             <table class="table table-striped">
              <thead class="table-dark">
              <tr>
               <th scope="col">Type</th>
               <th scope="col">Status</th>
               <th scope="col">Product Name</th>
               <th scope="col">Amount</th>
               <th scope="col">Date</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="transaction : ${transactionHistory}"
                  th:if="${transaction.amount >= 0}">
               <td th:text="${transaction.type}"></td>
               <td th:text="${transaction.status}"></td>
               <td>
                <a th:href="@{/auction/product/{productId}(productId=${transaction.productId})}" th:text="${transaction.productName}"></a>
               </td>
               <td>
                <span th:text="${transaction.amount < 0 ? transaction.amount : '+' + transaction.amount}"
                      th:classappend="${transaction.amount < 0 ? 'red' : 'blue'}"
                      class="amount">
                </span>
               </td>
               <td th:text="${#dates.format(transaction.date, 'yyyy. MM. dd. HH: mm : ss')}"></td>
              </tr>
              </tbody>
             </table>
            </div>
           </div>

           <!-- 출금 내역 -->
           <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="describe-content">
             <table class="table table-striped">
              <thead class="table-dark">
              <tr>
               <th scope="col">Type</th>
               <th scope="col">Status</th>
               <th scope="col">Product Name</th>
               <th scope="col">Amount</th>
               <th scope="col">Date</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="transaction : ${transactionHistory}"
                  th:if="${transaction.amount < 0}">
               <td th:text="${transaction.type}"></td>
               <td th:text="${transaction.status}"></td>
               <td>
                <a th:href="@{/auction/product/{productId}(productId=${transaction.productId})}" th:text="${transaction.productName}"></a>
               </td>
               <td>
                <span th:text="${transaction.amount < 0 ? transaction.amount : '+' + transaction.amount}"
                      th:classappend="${transaction.amount < 0 ? 'red' : 'blue'}"
                      class="amount">
                </span>
               </td>
               <td th:text="${#dates.format(transaction.date, 'yyyy. MM. dd. HH: mm : ss')}"></td>
              </tr>
              </tbody>
             </table>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>


      <!-- 계정 -->
      <div class="tab-pane fade" id="v-pills-pp3" role="tabpanel" aria-labelledby="v-btn-pp3">
       <div class="tab-inner-contentbox mt-0">
        <h5 class="pp-title pt-0">Introduction</h5>
        <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
         subscribe, register or make a purchase from nftfox, ‘Site’. </p>
        <h5 class="pp-title">Definition of personal data</h5>
        <p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus
         repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem
         consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent
         aliquet facilisis</p>
        <ul class="pp-list">
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has.</li>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s.</li>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer </li>
        </ul>
        <h5 class="pp-title">Cookies and Similar Technologies</h5>
        <p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
        <h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
        <ul class="pp-list">
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</li>
         <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </li>
        </ul>
        <h5 class="pp-title">Your Rights</h5>
        <p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
       </div>
       <div class="tab-inner-contentbox">
        <h5 class="pp-title pt-0">How you can contact us</h5>
        <p>Sem adipiscing tempus ut dis vestibulum, feugiat scelerisque senectus magna sem vel curae. Nulla alias magnis fusce erat tincidunt pulvinar, varius nusenectus, ac hendrerit eget. Venenatis dictumst pellentesque orci lobortisquismassa mi lorem. Vel odio dui ac, pede quod fermentum quam urna, eu amet wisletie nulla, semper erat, donec morbi purus massa blandit rutru</p>
       </div>
       <div class="tab-inner-contentbox">
        <h5 class="pp-title pt-0">Additional Information</h5>
        <p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
       </div>
      </div>


      <!-- 경매 참여 내역 -->
      <div class="tab-pane fade" id="v-pills-pp4" role="tabpanel" aria-labelledby="v-btn-pp4">
       <div class="tab-inner-contentbox mt-0">
        <h5 class="pp-title pt-0">경매 참여 내역</h5>

        <!-- 경매 참여 내역 조회 -->
        <div class="item-describe-area">
         <ul class="nav nav-pills d-flex justify-content-center gap-sm-4 gap-1" id="pills-tab2" role="tablist">
          <li class="nav-item" role="presentation">
           <button class="nav-link active describe-btn" id="pills-home-tab2" data-bs-toggle="pill" data-bs-target="#pills-home2" type="button" role="tab" aria-controls="pills-home2" aria-selected="true">입찰 중</button>
          </li>
          <li class="nav-item" role="presentation">
           <button class="nav-link describe-btn" id="pills-profile-tab2" data-bs-toggle="pill" data-bs-target="#pills-profile2" type="button" role="tab" aria-controls="pills-profile2" aria-selected="false">낙찰</button>
          </li>
          <li class="nav-item" role="presentation">
           <button class="nav-link describe-btn" id="pills-contact-tab2" data-bs-toggle="pill" data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact2" aria-selected="false">패찰</button>
          </li>
         </ul>

         <!-- 입찰 중인 내역 -->
         <div class="tab-content" id="pills-tabContent2">
          <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">
           <div class="describe-content">
            <table class="table table-striped">
             <thead class="table-dark">
              <tr>
               <th scope="col">Auction Status</th>
               <th scope="col">Product Name</th>
               <th scope="col">Start Price</th>
               <th scope="col">Current Price</th>
               <th scope="col">Immediate Price</th>
               <th scope="col">Start Time</th>
               <th scope="col">End Time</th>
              </tr>
             </thead>
             <tbody>
              <tr th:each="product : ${activeBids}">
               <td th:text="${product.auctionStatus}"></td>
               <td th:text="${product.name}"></td>
               <td class="price" th:text="${product.startPrice}"></td>
               <td class="price" th:text="${product.currentPrice}"></td>
               <td class="price" th:text="${product.immediatePrice}"></td>
               <td th:text="${#dates.format(product.startTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
               <td th:text="${#dates.format(product.endTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
              </tr>
             </tbody>
            </table>
           </div>
          </div>

          <!-- 낙찰 내역 -->
          <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
           <div class="describe-content">
            <table class="table table-striped">
             <thead class="table-dark">
             <tr>
              <th scope="col">Auction Status</th>
              <th scope="col">Product Name</th>
              <th scope="col">Start Price</th>
              <th scope="col">Current Price</th>
              <th scope="col">Immediate Price</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="product : ${winningBids}">
              <td th:text="${product.auctionStatus}"></td>
              <td th:text="${product.name}"></td>
              <td class="price" th:text="${product.startPrice}"></td>
              <td class="price" th:text="${product.currentPrice}"></td>
              <td class="price" th:text="${product.immediatePrice}"></td>
              <td th:text="${#dates.format(product.startTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
              <td th:text="${#dates.format(product.endTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
             </tr>
             </tbody>
            </table>
           </div>
          </div>

          <!-- 패찰 내역 -->
          <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2">
           <div class="describe-content">
            <table class="table table-striped">
             <thead class="table-dark">
             <tr>
              <th scope="col">Auction Status</th>
              <th scope="col">Product Name</th>
              <th scope="col">Start Price</th>
              <th scope="col">Current Price</th>
              <th scope="col">Immediate Price</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="product : ${failedBids}">
              <td th:text="${product.auctionStatus}"></td>
              <td th:text="${product.name}"></td>
              <td class="price" th:text="${product.startPrice}"></td>
              <td class="price" th:text="${product.currentPrice}"></td>
              <td class="price" th:text="${product.immediatePrice}"></td>
              <td th:text="${#dates.format(product.startTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
              <td th:text="${#dates.format(product.endTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
             </tr>
             </tbody>
            </table>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>


      <!-- 경매 등록 내역 -->
      <div class="tab-pane fade" id="v-pills-pp5" role="tabpanel" aria-labelledby="v-btn-pp5">
       <div class="tab-inner-contentbox mt-0">
        <h5 class="pp-title pt-0">경매 등록 내역</h5>

        <!-- 경매 등록 내역 조회 -->
        <div class="item-describe-area">
         <ul class="nav nav-pills d-flex justify-content-center gap-sm-4 gap-1" id="pills-tab3" role="tablist">
          <li class="nav-item" role="presentation">
           <button class="nav-link active describe-btn" id="pills-home-tab3" data-bs-toggle="pill" data-bs-target="#pills-home3" type="button" role="tab" aria-controls="pills-home3" aria-selected="true">판매 중</button>
          </li>
          <li class="nav-item" role="presentation">
           <button class="nav-link describe-btn" id="pills-profile-tab3" data-bs-toggle="pill" data-bs-target="#pills-profile3" type="button" role="tab" aria-controls="pills-profile3" aria-selected="false">거래 완료</button>
          </li>
          <li class="nav-item" role="presentation">
           <button class="nav-link describe-btn" id="pills-contact-tab3" data-bs-toggle="pill" data-bs-target="#pills-contact3" type="button" role="tab" aria-controls="pills-contact3" aria-selected="false">유찰</button>
          </li>
         </ul>

         <!-- 판매 중 내역 -->
         <div class="tab-content" id="pills-tabContent3">
          <div class="tab-pane fade show active" id="pills-home3" role="tabpanel" aria-labelledby="pills-home-tab3">
           <div class="describe-content">
            <table class="table table-striped">
             <thead class="table-dark">
             <tr>
              <th scope="col">Auction Status</th>
              <th scope="col">Product Name</th>
              <th scope="col">Start Price</th>
              <th scope="col">Current Price</th>
              <th scope="col">Immediate Price</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="product : ${activeProducts}">
              <td th:text="${product.auctionStatus}"></td>
              <td th:text="${product.name}"></td>
              <td class="price" th:text="${product.startPrice}"></td>
              <td class="price" th:text="${product.currentPrice}"></td>
              <td class="price" th:text="${product.immediatePrice}"></td>
              <td th:text="${#dates.format(product.startTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
              <td th:text="${#dates.format(product.endTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
             </tr>
             </tbody>
            </table>
           </div>
          </div>

          <!-- 거래 완료 내역 -->
          <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab3">
           <div class="describe-content">
            <table class="table table-striped">
             <thead class="table-dark">
             <tr>
             <tr>
              <th scope="col">Auction Status</th>
              <th scope="col">Product Name</th>
              <th scope="col">Start Price</th>
              <th scope="col">Current Price</th>
              <th scope="col">Immediate Price</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="product : ${completedProducts}">
              <td th:text="${product.auctionStatus}"></td>
              <td th:text="${product.name}"></td>
              <td class="price" th:text="${product.startPrice}"></td>
              <td class="price" th:text="${product.currentPrice}"></td>
              <td class="price" th:text="${product.immediatePrice}"></td>
              <td th:text="${#dates.format(product.startTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
              <td th:text="${#dates.format(product.endTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
             </tr>
             </tbody>
            </table>
           </div>
          </div>

          <!-- 유찰 내역 -->
          <div class="tab-pane fade" id="pills-contact3" role="tabpanel" aria-labelledby="pills-contact-tab3">
           <div class="describe-content">
            <table class="table table-striped">
             <thead class="table-dark">
             <tr>
              <th scope="col">Auction Status</th>
              <th scope="col">Product Name</th>
              <th scope="col">Start Price</th>
              <th scope="col">Current Price</th>
              <th scope="col">Immediate Price</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="product : ${failedProducts}">
              <td th:text="${product.auctionStatus}"></td>
              <td th:text="${product.name}"></td>
              <td class="price" th:text="${product.startPrice}"></td>
              <td class="price" th:text="${product.currentPrice}"></td>
              <td class="price" th:text="${product.immediatePrice}"></td>
              <td th:text="${#dates.format(product.startTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
              <td th:text="${#dates.format(product.endTime, 'yyyy. MM. dd. HH:mm:ss')}"></td>
             </tr>
             </tbody>
            </table>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>


      <!-- 찜한 상품 -->
      <div class="tab-pane fade" id="v-pills-pp6" role="tabpanel" aria-labelledby="v-btn-pp6">
       <div class="tab-inner-contentbox mt-0">
        <h5 class="pp-title pt-0">찜한 상품</h5>
       </div>
      </div>


      <!-- 키워드 알림 -->
      <div class="tab-pane fade" id="v-pills-pp7" role="tabpanel" aria-labelledby="v-btn-pp7">
       <div class="tab-inner-contentbox mt-0">
        <h5 class="pp-title pt-0">키워드 알림</h5>
       </div>
      </div>


      <!-- 1:1 문의 내역 -->
      <div class="tab-pane fade" id="v-pills-pp8" role="tabpanel" aria-labelledby="v-btn-pp8">
       <div class="tab-inner-contentbox mt-0">
        <h5 class="pp-title pt-0">1:1 문의 내역</h5>
       </div>
      </div>

     </div>
    </div>
   </div>
  </div>
 </div>

 <script>
  // 금액에 쉼표 추가
  function formatNumber(number) {
   return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  // 계좌 캐시에 쉼표, 원 추가
  document.addEventListener('DOMContentLoaded', function() {
   var cash = [[${accountDto.cash}]]; // Thymeleaf에서 값을 삽입
   document.getElementById('cash').textContent = formatNumber(cash) + '원';
  });

  // 캐시 내역 금액에 쉼표 추가
  document.addEventListener("DOMContentLoaded", function() {
   const amountElements = document.querySelectorAll('.amount');

   amountElements.forEach(function(element) {
    let amount = parseFloat(element.textContent.replace(/[+,]/g, ''));
    let formattedAmount = formatNumber(amount);

    // 양수인 경우 '+' 기호를 추가
    if (amount > 0) {
     formattedAmount = '+' + formattedAmount;
    }

    element.textContent = formattedAmount;
   });
  });

  // 경매 등록, 참여 내역 금액에 쉼표 추가
  window.onload = function() {
   document.querySelectorAll('.price').forEach(function(element) {
    element.innerText = formatNumber(element.innerText);
   });
  };
 </script>
</div>

</body>
</html>