<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <style>
        .image {
            text-align: center;
        }
        .image img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin-bottom: 5%;
        }
    </style>
</head>

<body>
<div layout:fragment="content1">
    <div class="breadcrumb breadcrumb-style-one mb-0 ">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1 class="breadcrumb-title">Edit Profile</h1>
                <ul class="d-flex justify-content-center breadcrumb-items">
                    <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a th:href="@{/auction/auction}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Profile</li>
                </ul>
            </div>
        </div>
    </div>

    <form class="auction-winner-wrapper pt-110" th:action="@{/mypage/profile-update}" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="image">
                <img id="profilePicture" th:src="${profileDto.profilePicture != null ? profileDto.profilePicture : '../assets/images/profile/basic-profile.png'}" alt="Profile Image">
            </div>
            <div class="single-widget">
                <div class="qsn-form">
                    <h5 class="wdget-title">My Profile</h5>
                    <ul class="widget-list">
                        <li><label>닉네임 :</label><input type="text" id="nickname" name="nickname" th:value="${profileDto.nickname}"></li>
                        <li><label>이미지 :</label><input class="form-control" type="file" id="image" name="image" accept="image/*" onchange="previewImage(event)"></li>
                        <li><button type="button" class="btn btn-outline-danger" onclick="removeImage()">Remove Image</button>
                            <input type="hidden" id="isRemovedImage" name="isRemovedImage" value="false"/></li>
                    </ul>
                    <div>
                        <a th:href="@{/mypage}" class="alpha-btn-md-dark">Back</a>
                    </div>
                    <div style="text-align: right">
                        <button type="submit" class="alpha-btn-md-dark">Complete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function(){
                const output = document.getElementById('profilePicture');
                output.src = reader.result;
            };
            if (event.target.files[0]) {
                reader.readAsDataURL(event.target.files[0]);
                // removeImage 필드를 다시 false로 설정 -> remove 버튼을 눌러도 다시 업로드 할 수 있도록
                document.getElementById('isRemovedImage').value = 'false';
            }
        }

        function removeImage() {
            // 기본 프로필 이미지로 변경
            const profilePicture = document.getElementById('profilePicture');
            profilePicture.src = '../assets/images/profile/basic-profile.png';

            // isRemovedImage 필드 true로 설정
            document.getElementById('isRemovedImage').value = 'true';

            // 파일 입력 필드 초기화
            document.getElementById('profilePicture').value = '';
        }
    </script>
</div>

</body>
</html>