<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>
<div layout:fragment="content1">
    <div class="breadcrumb breadcrumb-style-one mb-0 ">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1 class="breadcrumb-title">Profile Edit</h1>
                <ul class="d-flex justify-content-center breadcrumb-items">
                    <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a th:href="${index}">Home</a></li>
                    <li class="breadcrumb-item active">Profile Edit</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="auction-winner-wrapper pt-110">
        <div class="container">
            <div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 gy-5">
                <div class="col">
                    <div class="winner-gamma">
                        <div class="winner-image">
<!--                            <img src="../assets/images/winner/winner-b1.png" alt="Profile Image">-->
                            <img onclick="previewImage(event)" th:src="${member.profilePicture != null ? member.profilePicture : '../assets/images/profile/basic-profile.png'}" alt="Profile Image">
                            <img id="imagePreview" alt="Profile Image" style="display:none; max-width: 100%; height: auto; margin-top: 10px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-widget">
                <form class="qsn-form" th:action="@{/mypage/profile-update}" method="post">
                    <h5 class="wdget-title">My Profile</h5>
                    <ul class="widget-list">
<!--                        <li><label>닉네임 :</label><input type="text" name="nickname" placeholder="Nickname"></li>-->
                        <li><label>닉네임 :</label><input type="text" name="nickname" th:placeholder="${member.nickname}"></li>
                    </ul>
                    <button type="submit" class="alpha-btn-md-dark" onclick="alert('프로필 수정 완료'); console.log('프로필 수정 완료')">Complete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>