<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<body>

 <div layout:fragment="content1">
  <div class="breadcrumb breadcrumb-style-one mb-0 ">
   <div class="container">
    <div class="col-lg-12 text-center">
     <h1 class="breadcrumb-title">User Info Edit</h1>
     <ul class="d-flex justify-content-center breadcrumb-items">
      <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a th:href="@{/}">Home</a>
      <li class="breadcrumb-item active">User Info Edit</li>
     </ul>
    </div>
   </div>
  </div>

 <section class="register-section pt-110">
  <div class="container">
    <div class="col-lg-6">
     <div class="right-form-area">
      <h3>Register Your Account</h3>
      <form class="w-100">
       <!-- 이름 -->
       <div class="form-inner">
        <label>이름</label>
        <input type="text" placeholder="Full Name">
       </div>
       <!-- 이메일 -->
       <div class="form-inner">
        <label>이메일</label>
        <input type="text" placeholder="Your email">
       </div>
       <!-- 비밀번호 -->
       <div class="form-inner">
        <label>비밀번호</label>
        <input type="password" name="password" id="password" placeholder="Password"/>
        <i class="bi bi-eye-slash" id="togglePassword"></i>
       </div>
       <!-- 비밀번호 확인 -->
       <div class="form-inner">
        <label>비밀번호 확인</label>
        <input type="password" name="password" id="password2" placeholder="Confirm Password"/>
        <i class="bi bi-eye-slash" id="togglePassword2"></i>
       </div>
       <!-- 휴대폰 번호 -->
       <div class="form-inner">
        <label>Phone</label>
        <input type="text" placeholder="Phone">
       </div>
       <!-- 주소 -->
       <div class="form-inner">
        <label>주소</label>
        <input type="text" placeholder="Address">
       </div>
       <!-- 성별 -->
       <div class="form-inner">
        <label>성별</label>
        <label>
         <input type="radio" name="gender" value="남성">남성
        </label>
        <label>
         <input type="radio" name="gender" value="여성">여성
        </label>
       </div>
       <button class="account-btn">Complete</button>
      </form>
     </div>
   </div>
  </div>
 </section>

</div>
</body>
</html>