<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Ready? Auction!</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" th:href="@{/assets/images/logo.png}" type="image/gif" sizes="20x20">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
</head>
<body>
<!-- ======= Header ======= -->

<div class="preloader">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<!-- 검색 창을 조건부로 렌더링 -->
<div class="mobile-search">
    <div class="container">
        <div class="row">
            <div class="col-11">
                <label>무엇을 찾고 계신가요?</label>
                <input type="text" id="search-input-mobile" placeholder="검색어를 입력하세요."
                       oninput="fetchSuggestions(this.value)" onkeydown="handleSearch(event)">
                <!-- 자동 완성 목록을 표시할 영역 -->
                <div id="autocomplete-results" class="autocomplete-suggestions"></div>
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
                <div class="search-cross-btn">
                    <i class="bi bi-x"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- default.html -->
<header>
    <div class="header-area header-style-one px-md-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 align-items-center d-xl-flex d-lg-block">
                    <div class="nav-logo d-flex justify-content-between align-items-center">
                        <a th:href="@{/}"><img th:src="@{/assets/images/logo.png}" alt="logo" width="50"
                                               height="50"></a>
                        <div class="d-flex align-items-center gap-4">
                            <span style="font-size: 16px; font-weight: bold; color: white; margin-left: 10px;">READY? AUCTION!</span>
                            <ul class="nav-actions nav-inner-actions d-flex d-xl-none">
                                <!-- search-btn은 auction 페이지에서만 보입니다 -->
                                <li class="search-btn" th:if="${currentPage == 'auction'}"><i class="bi bi-search"></i>
                                </li>
                            </ul>
                            <div class="mobile-menu d-flex ">
                                <a href="javascript:void(0)" class="hamburger d-block d-xl-none">
                                    <span class="h-top"></span>
                                    <span class="h-middle"></span>
                                    <span class="h-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 d-flex justify-content-center ">
                    <nav class="main-nav">
                        <div class="inner-logo d-xl-none text-center mt-4">
                            <a th:href="@{/}"><img th:src="@{/assets/images/logo.png}" width="50" height="50" alt=""></a>
                        </div>
                        <ul>
                            <li class="has-child-menu">
                                <a href="javascript:void(0)">경매</a>
                                <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a th:href="@{/auction}">경매 목록 확인</a></li>
                                    <li><a th:href="@{/auction/productUpload}">경매 물품 등록</a></li>
                                </ul>
                            </li>
                            <li class="has-child-menu">
                                <a th:href="@{/inquiry/faq}" method="post">FAQ</a>
                            </li>
                            <li class="has-child-menu">
                                <a href="javascript:void(0)">관리자</a>
                                <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a th:href="@{/inquiry/admin-faq}">문의관리</a></li>
                                    <li><a th:href="@{/admin/user-management}">회원관리</a></li>
                                    <li><a th:href="@{/admin/dashboard}">통계관리</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="has-child-menu">
                                <a th:href="@{/mypage}" method="post">마이페이지</a>
                            </li>
                            <!-- 로그인하지 않은 경우 anonymous -->
                            <li sec:authorize="isAnonymous()" class="has-child-menu">
                                <a href="javascript:void(0)">로그인</a>
                                <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a th:href="@{/auth/login}">로그인</a></li>
                                    <li><a th:href="@{/member/register}">회원가입</a></li>
                                </ul>
                            </li>
                            <!-- 로그인한 경우 authenticated -->
                            <li sec:authorize="isAuthenticated()" class="has-child-menu">
                                <a th:href="@{/auth/logout}" method="post">로그아웃</a>
                            </li>
                        </ul>
                        <div class="contact-mail inner-contact-mail mt-5 d-block d-xl-none">
                            <span>메시지 보내기</span>
                            <a href="/cdn-cgi/l/email-protection#53202623233c212713362b323e233f367d303c3e"><span
                                    class="__cf_email__" data-cfemail="9ae9efeaeaf5e8eedaffe2fbf7eaf6ffb4f9f5f7">[email&#160;protected]</span></a>
                        </div>
                    </nav>
                </div>
                <div class="col-xl-3 d-xl-flex align-items-center justify-content-end d-none">
                    <div class="nav-right d-flex align-items-center">
                        <ul class="nav-actions">
                            <!-- search-btn은 auction 페이지에서만 보입니다 -->
                            <li class="search-btn" th:if="${currentPage == 'auction'}"><i class="bi bi-search"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<main class="main" id="main">
    <div layout:fragment="content1"></div>
    <!-- 검색 결과가 표시될 곳 -->
    <div id="search-results"></div>
    <div class="chat-button" onclick="location.href='/app/chat/list'">
        💬
    </div>
</main>

<footer class="footer-area footer-style-one mt-110">
    <div class="container">
        <div class="footer-main">
            <div class="row gy-5 d-flex justify-content-center">
                <!-- 푸터 내용 -->
            </div>
        </div>
        <div class="copyright row align-items-center">
            <div class="col-lg-6 col-md-6 order-1 order-md-0 text-center text-md-start mt-3 mt-md-0">
                <p>Copyright 2024 <a href="#">Ready Auction</a> | Design By <a href="https://www.egenslab.com">Egens
                    Theme</a></p>
            </div>
        </div>
    </div>
</footer>

<script data-cfasync="false" th:src="@{/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
<script th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/js/jquery.nice-select.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:inline="javascript">
    function fetchSuggestions(query) {
        if (query.length === 0) {
            document.getElementById('autocomplete-results').innerHTML = '';
            return;
        }
        $.ajax({
            url: /*[[@{/auction-searching-api/searching}]]*/,
            type: 'GET',
            data: {query: query},
            success: function (data) {
                console.log('Received data:', data); // 로그를 통해 데이터 구조를 확인합니다.
                let suggestionsList = '';

                // Page 객체에서 content 배열에 접근
                data.content.forEach(function (suggestion) {
                    suggestionsList += '<div class="suggestion-item" onclick="handleSuggestionClick(\'' + encodeURIComponent(suggestion.name) + '\')">' + suggestion.name + '</div>';
                });

                document.getElementById('autocomplete-results').innerHTML = suggestionsList;
            },
            error: function (error) {
                console.error('Error fetching suggestions:', error);
            }
        });
    }

    // handleSearch 함수에서 경로 수정
    function handleSearch(event) {
        if (event.key === 'Enter') {
            let query = encodeURIComponent(event.target.value);
            window.location.href = '?prodName=' + query;
        }
    }

    // handleSuggestionClick 함수에서 경로 수정
    function handleSuggestionClick(query) {
        window.location.href = '?prodName=' + query;
    }
</script>
</body>
</html>
