spring:
  mail:
    host: smtp.gmail.com # 1
    port: 587 # 2
    username: fkausthd12@gmail.com # 3
    password: tnva emrs xogi auxs # 4
    properties:
      mail:
        smtp:
          auth: true # 5
          timeout: 5000 # 6
          starttls:
            enable: true # 7
  profiles:
    default: prod
  application:
    name: ready-auction
  servlet:
    multipart:
      max-request-size: 50MB
      max-file-size: 10MB
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update # 이 부분을 추가합니다.
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        hbm2ddl:
          auto: update # 또는 create, create-drop, validate 중 선택
  s3:
    accessKey: ${SPRING_S3_ACCESSKEY}
    secretKey: ${SPRING_S3_SECRETKEY}
    bucket: ready-auction-bucket

logging:
  level:
    root: info
    com.readyauction.app: debug

server:
  servlet:
    context-path: /app

  spring:
    redis:
      host: localhost
      port: 6379

  redis:
    bid:
      prefix: bids