<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
 <meta charset="UTF-8">
 <title>Auction</title>
 <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div layout:fragment="content1">
 <div class="breadcrumb breadcrumb-style-one mb-0">
  <div class="container">
   <div class="col-lg-12 text-center">
    <h1 class="breadcrumb-title">경매</h1>
    <ul class="d-flex justify-content-center breadcrumb-items">
     <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a th:href="@{/index.html}">메인으로</a></li>
     <li class="breadcrumb-item active">경매</li>
    </ul>
   </div>
  </div>
 </div>

 <div class="auction-wrapper pt-110">
  <div class="container">
   <div class="row g-4">
    <div th:each="auction : ${auctions}" class="col-lg-4 col-md-6">
     <div class="product-card product-beta-md">
      <div class="product-header">
       <h5 class="product-title"><a th:href="@{/auction-details.html}" th:text="${auction.product.name}">Product Name</a></h5>
       <h4 class="price" th:text="'$' + ${auction.price}">Price</h4>
      </div>
      <div class="product">
       <img th:src="@{|/images/products/| + ${auction.product.image}}" alt="">
       <div class="id"><span th:text="'ID ' + ${auction.id}">ID</span></div>
      </div>
      <div class="product-disc">
       <div class="product-acution">
        <div class="cv">
         <span>current Bid</span>
         <h6 th:text="'$' + ${auction.price}">Current Bid</h6>
        </div>
        <div class="countdown">
         <span th:text="${auction.status == 0 ? '남은 경매 시간' : '경매 종료'}">Status</span>
        </div>
       </div>
       <a th:href="@{/auction-details.html}" class="bid-btn">Submit A Bid</a>
      </div>
     </div>
    </div>
   </div>
   <ul class="pagination pagination-style-one justify-content-center pt-50">
    <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-left"></i></a></li>
    <li class="page-item active"><a class="page-link" href="#">01</a></li>
    <li class="page-item"><a class="page-link" href="#">02</a></li>
    <li class="page-item"><a class="page-link" href="#">03</a></li>
    <li class="page-item"><a class="page-link" href="#">04</a></li>
    <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-right"></i></a></li>
   </ul>
  </div>
 </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
  $.ajax({
   url: '/auction-api/all',
   type: 'GET',
   success: function(data) {
    var auctionList = $('#auction-list');
    auctionList.empty();
    $.each(data, function(index, auction) {
     auctionList.append(
             '<div class="col-lg-4 col-md-6">' +
             '<div class="product-card product-beta-md">' +
             '<div class="product-header">' +
             '<h5 class="product-title"><a href="/auction-details.html">' + auction.product.name + '</a></h5>' +
             '<h4 class="price">$' + auction.price + '</h4>' +
             '</div>' +
             '<div class="product">' +
             '<img src="/images/products/' + auction.product.image + '" alt="">' +
             '<div class="id"><span>ID ' + auction.id + '</span></div>' +
             '</div>' +
             '<div class="product-disc">' +
             '<div class="product-acution">' +
             '<div class="cv">' +
             '<span>현재 입찰가</span>' +
             '<h6>$' + auction.price + '</h6>' +
             '</div>' +
             '<div class="countdown">' +
             '<span>' + (auction.status === 0 ? '남은 경매 시간' : '경매 종료') + '</span>' +
             '</div>' +
             '</div>' +
             '<a href="/auction-details.html" class="bid-btn">입찰하기</a>' +
             '</div>' +
             '</div>' +
             '</div>'
     );
    });
   }
  });
 });
</script>
</body>
</html>