<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
 <meta charset="UTF-8">
 <title>경매 목록</title>
 <link rel="stylesheet" th:href="@{/css/styles.css}">
 <script th:inline="javascript">
  function startCountdown(endTime, elementId) {
   var countDownDate = new Date(endTime).getTime();
   var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById(elementId).innerHTML = days + "일 " + hours + "시 "
            + minutes + "분 " + seconds + "초 ";

    if (distance < 0) {
     clearInterval(x);
     document.getElementById(elementId).innerHTML = "EXPIRED";
    }
   }, 1000);
  }

  document.addEventListener('DOMContentLoaded', function() {
   var products = /*[[${products}]]*/ [];
   products.forEach(product => {
    let endTime = product.endTime;
    let elementId = 'week-countdown-' + product.id;
    startCountdown(endTime, elementId);
   });
  });

  function setCategory(category) {
   document.getElementById('categoryInput').value = category;
   filterProducts();
  }

  function filterProducts() {
   var category = document.getElementById('categoryInput').value;
   var products = document.getElementById('productList').getElementsByClassName('col-lg-4 col-md-6');

   for (var i = 0; i < products.length; i++) {
    var productCategory = products[i].getAttribute('data-category');
    if (category === "ALL" || category === productCategory) {
     products[i].style.display = "";
    } else {
     products[i].style.display = "none";
    }
   }
  }
 </script>
</head>
<body>
<div layout:fragment="content1">
 <div class="breadcrumb breadcrumb-style-one mb-0">
  <div class="container">
   <div class="col-lg-12 text-center">
    <h1 class="breadcrumb-title">경매 목록</h1>
    <ul class="d-flex justify-content-center breadcrumb-items">
     <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a th:href="@{/index}">Home | </a></li>
     <li class="breadcrumb-item active">경매 목록</li>
    </ul>
   </div>
  </div>
 </div>

 <!-- Filter Section -->
 <div class="blog-widget widget-categories">
  <h5 class="widget-title">Sports Categories</h5>
  <ul class="sidebar-tag-list">
   <li><a href="javascript:void(0);" onclick="setCategory('ALL')">전체</a></li>
   <li><a href="javascript:void(0);" onclick="setCategory('SOCCER')">축구</a></li>
   <li><a href="javascript:void(0);" onclick="setCategory('BASKETBALL')">농구</a></li>
   <li><a href="javascript:void(0);" onclick="setCategory('BASEBALL')">야구</a></li>
   <li><a href="javascript:void(0);" onclick="setCategory('ESPORTS')">e스포츠</a></li>
   <li><a href="javascript:void(0);" onclick="setCategory('OTHER')">기타</a></li>
  </ul>
 </div>
 <input type="hidden" name="category" id="categoryInput" value="ALL">

 <div class="auction-wrapper pt-110">
  <div class="container">
   <div class="row g-4" id="productList">
    <div class="col-lg-4 col-md-6" th:each="product : ${products}" th:attr="data-category=${product.category}">
     <div class="product-card product-beta-md" style="min-width: 300px; max-width: 350px;">
      <div class="product-header">
       <h5 class="product-title"><a th:href="@{/auction/product/{productId}(productId=${product.id})}">[[${product.name}]]</a></h5>
       <h4 class="price">₩[[${product.immediatePrice}]]</h4>
      </div>
      <div class="product">
       <img th:src="@{${product.imgUrl}}" alt="product image" style="width: 100%; height: auto;">
       <div class="id"><span>ID [[${product.id}]]</span></div>
      </div>
      <div class="product-disc">
       <div class="product-acution">
        <div class="cv">
         <span>현재 입찰가</span>
         <h6>₩[[${product.currentPrice}]]</h6>
        </div>
        <div class="countdown" style="font-weight: 800; font-size: 20px; text-transform: capitalize; color: #00152b;" th:id="'week-countdown-' + ${product.id}">
         <h6> </h6>
         <span>경매 마감 시간</span>
        </div>
       </div>
       <a th:href="@{/auction/product/{productId}(productId=${product.id})}" class="bid-btn">입찰하기</a>
      </div>
     </div>
    </div>
   </div>
   <ul class="pagination pagination-style-one justify-content-center pt-50">
    <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-left"></i></a></li>
    <li class="page-item active"><a class="page-link" href="#">01</a></li>
    <li class="page-item"><a class="page-link" href="#">02</a></li>
    <li class="page-item"><a class="page-link" href="#">03</a></li>
    <li class="page-item"><a class="page-link" href="#">04</a></li>
    <li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-right"></i></a></li>
   </ul>
  </div>
 </div>
</div>

</body>
</html>
