<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">


<body>

<div layout:fragment="content1">
    <div class="col-lg-7 mt-5 mt-lg-0">
        <div class="contact-box-wrap">
        <div class="contact-form">
            <h4>상품 등록</h4>

            <form action="#" id="contact_form" method="post">
                <div class="contact-input-group">
                    <label for="first-Name">상품 이름</label>
                    <input type="text" id="first-Name" placeholder="Full Name">
                    <br>
                </div>
                <div class="contact-input-group">
                    <label for="image">상품 이미지</label>
                    <input type="file" id="image" accept="image/*" />
                </div>

                <div class="blog-widget widget-categories">
                    <h5 class="widget-title">Sports Categories</h5>
                    <ul class="sidebar-tag-list">
                        <li><a onclick="setCategory('SOCCER')">축구</a></li>
                        <li><a onclick="setCategory('BASKETBALL')">농구</a></li>
                        <li><a onclick="setCategory('BASEBALL')">야구</a></li>
                        <li><a onclick="setCategory('ESPORTS')">e스포츠</a></li>
                        <li><a onclick="setCategory('OTHER')">기타</a></li>
                    </ul>
                </div>

                <script>
                    function setCategory(category) {
                        var input = document.getElementById('categoryInput');
                        input.value = category;
                        console.log('Category set to:', category); // For debugging
                        // 모든 링크에서 active-link 클래스를 제거
                    }
                </script>
                <!-- Hidden form to store selected categories -->
                <input type="hidden" name="category" id="categoryInput">

                <div class="contact-input-group">
                    <label for="bigUnit">응찰당 상승 가격</label>
                    <input type="number" id="bigUnit" placeholder="Enter product code">
                    <br>
                </div>
                <div class="contact-input-group">
                    <label for="immediatePrice">즉시 구매가격</label>
                    <input type="number" id="immediatePrice" placeholder="Enter product code">
                    <br>
                </div>
                <div class="contact-input-group">
                    <label for="auctionEndDateTime">경매 종료 날짜 및 시간 설정:</label>
                    <input type="datetime-local" id="auctionEndDateTime" name="auctionEndDateTime">
                </div>
                <div class="contact-input-group">
                    <label for="discription">상품 설명</label>
                    <textarea id="discription" cols="3000" rows="10" placeholder="Type your discription"></textarea>
                </div>
                <div class="contact-input-group mt-0">
                    <button type="submit" class="submit-btn">상품 <등록></등록></button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>



</div>

</body>
</html>