<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>




<div layout:fragment="content1">
<div class="breadcrumb breadcrumb-style-one mb-0 ">
<div class="container">
<div class="col-lg-12 text-center">
<h1 class="breadcrumb-title">404</h1>
<ul class="d-flex justify-content-center breadcrumb-items">
<li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
<li class="breadcrumb-item active">404</li>
</ul>
</div>
</div>
</div>


<div class="error-wrapper-start mt-110">
<div class="container">
<div class="col-lg-12">
<div class="error-content text-center">
<div class="error-illustration">
<img src="assets/images/shape/404-vactor.png" alt="" class="img-fluid">
</div>
<div class="error-texts mx-auto">
<h2>Oops... Page Not Found!</h2>
<p>The page you are looking for may have been renamed or does nost exist in this server
you will be redirected to homepage shortly</p>
<div class="back-btn">
<a th:href="@{../}" class="alpha-btn-md-dark">Back Home</a>
</div>
</div>
</div>
</div>
</div>
</div>



</div>
</body>
</html>