<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>
<div layout:fragment="content1">
<div class="breadcrumb breadcrumb-style-one mb-0 ">
<div class="container">
<div class="col-lg-12 text-center">
<h1 class="breadcrumb-title">Auction</h1>
<ul class="d-flex justify-content-center breadcrumb-items">
<li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="../index.html">Home</a></li>
<li class="breadcrumb-item active">Auction</li>
</ul>
</div>
</div>
</div>


<div class="auction-wrapper pt-110">
<div class="container">
<div class="row g-4">
<div class="col-lg-4 col-md-6 ">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Citroen C4 Picasso 1.6 e-HDi Aird</a></h5>
<h4 class="price">$2,526</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-1.png" alt="">
<div class="id"><span>ID 0195639</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,079.00</h6>
</div>
<div class="countdown" id="week-countdown1">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Ford Focus 1.8 ZETEC 5d 125 </a></h5>
<h4 class="price">$3,000</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-2.png" alt="">
<div class="id"><span>ID 0195640</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$2,00.00</h6>
</div>
<div class="countdown" id="week-countdown2">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Masrati Mustang GT Premium</a></h5>
<h4 class="price">$1500</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-3.png" alt="">
<div class="id"><span>ID 0195641</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$899.00</h6>
</div>
<div class="countdown" id="week-countdown3">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Citroen C1 AIRSCAPE FEEL EDIT</a></h5>
<h4 class="price">$1,506</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-4.png" alt="">
<div class="id"><span>ID 0195642</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,079.00</h6>
</div>
<div class="countdown" id="week-countdown4">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Ford Focus 1.8 ZETEC 5d 125</a></h5>
<h4 class="price">$3,526</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-5.png" alt="">
<div class="id"><span>ID 0195643</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$3,000.00</h6>
</div>
<div class="countdown" id="week-countdown5">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Smart fortwo Red Mercedes AMG</a></h5>
<h4 class="price">$2,000</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-6.png" alt="">
 <div class="id"><span>ID 0195644</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$2,079.00</h6>
</div>
<div class="countdown" id="week-countdown6">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 ">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Citroen C4 Picasso 1.6 e-HDi Aird</a></h5>
<h4 class="price">$2,526</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-1.png" alt="">
<div class="id"><span>ID 0195645</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,079.00</h6>
</div>
<div class="countdown" id="week-countdown7">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Ford Focus 1.8 ZETEC 5d 125 </a></h5>
<h4 class="price">$3,000</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-2.png" alt="">
<div class="id"><span>ID 0195646</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$2,00.00</h6>
</div>
<div class="countdown" id="week-countdown8">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h5 class="product-title"><a href="auction-details.html">Masrati Mustang GT Premium</a></h5>
<h4 class="price">$1500</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-3.png" alt="">
<div class="id"><span>ID 0195647</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$899.00</h6>
</div>
<div class="countdown" id="week-countdown9">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction-details.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
</div>
<ul class="pagination pagination-style-one justify-content-center pt-50">
<li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-left"></i></a></li>
<li class="page-item active"><a class="page-link" href="#">01</a></li>
<li class="page-item"><a class="page-link" href="#">02</a></li>
<li class="page-item"><a class="page-link" href="#">03</a></li>
<li class="page-item"><a class="page-link" href="#">04</a></li>
<li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-right"></i></a></li>
</ul>
</div>
</div>

</div>
</div>
</body>
</html>