<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
<title>Bidgen - Bid and Auction HTML Template</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="assets/images/favicon.png" type="image/gif" sizes="20x20">

<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

<link rel="stylesheet" href="assets/css/boxicons.min.css">

<link rel="stylesheet" href="assets/css/bootstrap-icons.css">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">

<link rel="stylesheet" href="assets/css/jquery.countdown.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>





<div layout:fragment="content1">
<div class="breadcrumb breadcrumb-style-one mb-0 ">
<div class="container">
<div class="col-lg-12 text-center">
<h1 class="breadcrumb-title">Blog Standard</h1>
<ul class="d-flex justify-content-center breadcrumb-items">
<li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
<li class="breadcrumb-item active">Blog Standard</li>
</ul>
</div>
</div>
</div>


<div class="blog-standard-wrapper pt-110">
<div class="container">
<div class="row gy-5">
<div class="col-lg-8">
<div class="blog-standard-alpha">
<div class="thumb">
<img src="assets/images/blog/b-standard1.png" alt="">
<ul class="share-options">
<li><a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a></li>
<li><a href="https://twitter.com"><i class='bx bxl-twitter'></i></a></li>
<li><a href="https://www.pinterest.com"><i class='bx bxl-pinterest'></i></a></li>
<li><a href="https://www.instagram.com"><i class='bx bxl-instagram'></i></a></li>
</ul>
</div>
<div class="blog-body">
<div class="author-info">
<div class="author">
<div class="author-thumb"><img src="assets/images/blog/blog-author-x.png" alt=""></div>
<div class="author-disc">
<h5>Jameron Williamson</h5>
<span>Car Auction</span>
</div>
</div>
<span class="date"><i class="bi bi-clock"></i> March 9, 2021</span>
</div>
<h3 class="blog-title"><a href="blog-details.html">
How to Determine a Bidding Strategy for Different Types of Ads Different Good
</a></h3>
<p>When I first learned how to ride a bike, I remember being scared. It was a daunting process because I'd never done it before and was terrified of falling. I actually remember feeling similarly when I first started getting into paid advertising campaigns at the marketing </p>
<a href="blog-details.html" class="readme-btn">Read More</a>
</div>
</div>
<div class="blog-standard-alpha mt-50">
<div class="thumb">
<img src="assets/images/blog/b-standard2.png" alt="">
<ul class="share-options">
<li><a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a></li>
<li><a href="https://twitter.com"><i class='bx bxl-twitter'></i></a></li>
<li><a href="https://www.pinterest.com"><i class='bx bxl-pinterest'></i></a></li>
<li><a href="https://www.instagram.com"><i class='bx bxl-instagram'></i></a></li>
</ul>
</div>
<div class="blog-body">
<div class="author-info">
<div class="author">
<div class="author-thumb"><img src="assets/images/blog/blog-author-x.png" alt=""></div>
 <div class="author-disc">
<h5>Jameron Williamson</h5>
<span>Car Auction</span>
</div>
</div>
<span class="date"><i class="bi bi-clock"></i> March 9, 2021</span>
</div>
<h3 class="blog-title"><a href="blog-details.html">
Proofing your blog post is the last step in the setup of an SEO friendly auction.
</a></h3>
<p>When I first learned how to ride a bike, I remember being scared. It was a daunting process because I'd never done it before and was terrified of falling. I actually remember feeling similarly when I first started getting into paid advertising campaigns at the marketing </p>
<a href="blog-details.html" class="readme-btn">Read More</a>
</div>
</div>
<div class="blog-standard-alpha mt-50">
<div class="thumb">
<img src="assets/images/blog/b-standard3.png" alt="">
<ul class="share-options">
<li><a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a></li>
<li><a href="https://twitter.com"><i class='bx bxl-twitter'></i></a></li>
<li><a href="https://www.pinterest.com"><i class='bx bxl-pinterest'></i></a></li>
<li><a href="https://www.instagram.com"><i class='bx bxl-instagram'></i></a></li>
</ul>
</div>
<div class="blog-body">
<div class="author-info">
<div class="author">
<div class="author-thumb"><img src="assets/images/blog/blog-author-x.png" alt=""></div>
<div class="author-disc">
<h5>Jameron Williamson</h5>
<span>Car Auction</span>
</div>
</div>
<span class="date"><i class="bi bi-clock"></i> March 9, 2021</span>
</div>
<h3 class="blog-title"><a href="blog-details.html">
Fifth consecutive year that Hyundai is recognized by Jameron Williamson
</a></h3>
<p>When I first learned how to ride a bike, I remember being scared. It was a daunting process because I'd never done it before and was terrified of falling. I actually remember feeling similarly when I first started getting into paid advertising campaigns at the marketing </p>
<a href="blog-details.html" class="readme-btn">Read More</a>
</div>
</div>
<ul class="pagination pagination-style-one justify-content-center pt-50">
<li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-left"></i></a></li>
<li class="page-item active"><a class="page-link" href="#">01</a></li>
<li class="page-item"><a class="page-link" href="#">02</a></li>
<li class="page-item"><a class="page-link" href="#">03</a></li>
<li class="page-item"><a class="page-link" href="#">04</a></li>
<li class="page-item page-arrow"><a class="page-link" href="#"> <i class="bi bi-arrow-right"></i></a></li>
</ul>
</div>
<div class="col-lg-4">
<form class="sidebar-search">
<div class="form-inner d-flex justify-content-center ">
<input type="text" placeholder="Enter Keward">
<button class="search-btn">SEARCH</button>
</div>
</form>
<div class="blog-sidebar">
<div class="blog-widget widget-categories">
<h5 class="wdget-title">News Category</h5>
<ul class="widget-body">
<li><a href="#"><span>BMW Car Bidding</span> <img src="assets/images/icon/arrow-right-fancy.svg" alt=""></a></li>
<li><a href="#"><span>Business</span> <img src="assets/images/icon/arrow-right-fancy.svg" alt=""></a></li>
<li><a href="#"><span>New Tecnologies</span> <img src="assets/images/icon/arrow-right-fancy.svg" alt=""></a></li>
<li><a href="#"><span>Data Center</span> <img src="assets/images/icon/arrow-right-fancy.svg" alt=""></a></li>
<li><a href="#"><span>Network Setup</span> <img src="assets/images/icon/arrow-right-fancy.svg" alt=""></a></li>
<li><a href="#"><span>Audi Car Bidding</span> <img src="assets/images/icon/arrow-right-fancy.svg" alt=""></a></li>
</ul>
</div>
<div class="blog-widget widget-categories">
<h5 class="wdget-title">Latest Posts</h5>
<div class="latest-post-single">
<div class="post-img">
<img src="assets/images/blog/lp1.png" alt="">
</div>
<div class="post-content">
<h6><a href="blog-details.html">Security Council Diplomats to Have Lunch.</a></h6>
<p>5 February, 2021</p>
</div>
</div>
<div class="latest-post-single">
<div class="post-img">
<img src="assets/images/blog/lp2.png" alt="">
</div>
<div class="post-content">
<h6><a href="blog-details.html">How Can My Business Win?</a></h6>
<p>5 February, 2021</p>
</div>
</div>
<div class="latest-post-single">
<div class="post-img">
<img src="assets/images/blog/lp3.png" alt="">
</div>
<div class="post-content">
<h6><a href="blog-details.html">Genocide’s Legacy: Ation Villa ge in Rwanda</a></h6>
<p>5 February, 2021</p>
</div>
</div>
</div>
<div class="blog-widget widget-categories">
<h5 class="wdget-title">News Tag</h5>
<ul class="sidebar-tag-list">
<li><a href="#">Survey</a></li>
<li><a href="#">Data</a></li>
<li><a href="#">Research</a></li>
<li><a href="#">Data</a></li>
<li><a href="#">Khusi</a></li>
<li><a href="#">Customer</a></li>
<li><a href="#">Setup</a></li>
<li><a href="#">VAS</a></li>
</ul>
</div>
 <div class="blog-widget widget-categories">
<h5 class="wdget-title">Our Follower</h5>
<ul class="followers-list">
<li><a href="https://www.facebook.com"><span><i class='bx bxl-facebook'></i>Facebook</span><span>50,520</span></a></li>
<li><a href="https://twitter.com"><span><i class='bx bxl-twitter'></i>Twitter</span><span>42,035</span></a></li>
<li><a href="https://www.instagram.com"><span><i class='bx bxl-instagram'></i>Instagram</span><span>3,850</span></a></li>
<li><a href="https://www.pinterest.com"><span><i class='bx bxl-pinterest-alt'></i>Pinterest</span><span>10,590</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>



</div>
</body>
</html>