<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>



<div class="topbar-area topbar-style-one py-2 py-md-0">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-5 col-md-4 col-sm-6 col">
<div class="topbar-mail">
<i class="bi bi-envelope"></i> <a href="/cdn-cgi/l/email-protection#166563666679646256736e777b667a733875797b"><span class="__cf_email__" data-cfemail="bccfc9ccccd3cec8fcd9c4ddd1ccd0d992dfd3d1">[email&#160;protected]</span></a>
</div>
</div>
<div class="col-xl-2 col-md-4 d-none d-md-block">
<ul class="topbar-social-icons d-flex justify-content-center">
<li><a href="https://www.facebook.com"><i class="bx bxl-facebook"></i></a></li>
<li><a href="https://twitter.com"><i class="bx bxl-twitter"></i></a></li>
<li><a href="https://www.pinterest.com"><i class="bx bxl-pinterest"></i></a></li>
<li><a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a></li>
</ul>
</div>
<div class="col-xl-5 col-md-4 col-sm-6 col">
<ul class="topbar-actions d-flex justify-content-end ms-3">
<li class="header-account me-0 position-relative">
<a href="auth/login.html" id="dropdownMenu5" data-bs-toggle="dropdown">
<i class="bi bi-translate"></i>
</a>
<ul class="dropdown-menu account-list" aria-labelledby="dropdownMenu5">
<li class="dropdown-item"><a href="auth/login.html">Eng</a></li>
<li class="dropdown-item"><a href="auth/register.html">বাংলা</a></li>
<li class="dropdown-item"><a href="auth/login.html">中国</a></li>
<li class="dropdown-item"><a href="auth/register.html">española</a></li>
</ul>
</li>

<li class="header-account me-0 position-relative ms-3">
<a href="auth/login.html" id="dropdownMenu4" data-bs-toggle="dropdown">
<i class="bi bi-currency-exchange"></i>
</a>
<ul class="dropdown-menu account-list" aria-labelledby="dropdownMenu4">
<li class="dropdown-item"><a href="auth/login.html">$ Dollar</a></li>
<li class="dropdown-item"><a href="auth/register.html">€ Euro</a></li>
<li class="dropdown-item"><a href="auth/login.html">৳ Taka</a></li>
<li class="dropdown-item"><a href="auth/register.html">₹ rupees</a></li>
</ul>
</li>

</ul>
</div>
</div>
</div>
</div>



<div class="hero-area hero-style-two">
<div class="swiper hero-slider-two">
<div class="swiper-wrapper">
<div class="swiper-slide hero-item position-relative">
<div class="hero-background-layer" style="background: url(./assets/images/banner/hero-banner2.png);"></div>
<div class="hero-content-wrap">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="hero-content">
<h1 class="hero-title">Welcome to car auction Best Platform</h1>
<p>Middleton in objection discovery as agreeable. Edward thrown dinin. Nulla sem porta ullamcorper orci, scelerisque ullamcorper vitae.</p>
<div class="hero-btns d-flex gap-5 align-items-center">
<a href="auction/auction.html" class="alpha-btn-md">All Auction</a>
<div class="video-pluse">
<span style="--i:1;"></span>
<span style="--i:5;"></span>
<span style="--i:3;"></span>
<a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video-frame video-icon"><i class="bx bx-play"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-6 pt-5 pt-lg-0">
<div class="row g-4">
<div class="col-sm-6">
<div class="product-card featured-product-card">
<div class="product">
<img src="assets/images/product/feat-1.png" alt="">
<div class="id"><span>ID 0195543</span></div>
</div>
<div class="product-disc">
<h6 class="product-title"><a href="auction/auctionDetails.html" class="">Smart fortwo coupe 1.0 Prime Sport Premium</a></h6>
<div class="product-auction">
 <div class="price">
<span>From</span>
<h6>$79.00</h6>
</div>
<div class="countdown" id="week-countdown1">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Bid Now</a>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="product-card featured-product-card">
<div class="product">
<img src="assets/images/product/feat-2.png" alt="">
<div class="id"><span>ID 0195543</span></div>
</div>
<div class="product-disc">
<h6 class="product-title"><a href="auction/auctionDetails.html" class="">lamgergini New BOOM 800 Premium</a></h6>
<div class="product-auction">
<div class="price">
<span>From</span>
<h6>$79.00</h6>
</div>
<div class="countdown" id="week-countdown2">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Bid Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide hero-item position-relative">
<div class="hero-background-layer" style="background: url(./assets/images/banner/hero-banner2.png);"></div>
<div class="hero-content-wrap">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="hero-content">
<h1 class="hero-title">Welcome to car auction Best Platform</h1>
<p>Middleton in objection discovery as agreeable. Edward thrown dinin. Nulla sem porta ullamcorper orci, scelerisque ullamcorper vitae.</p>
<div class="hero-btns d-flex gap-5 align-items-center">
<a href="auction/auction.html" class="alpha-btn-md">All Auction</a>
<div class="video-pluse">
<span style="--i:1;"></span>
<span style="--i:5;"></span>
<span style="--i:3;"></span>
<a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video-frame video-icon"><i class="bx bx-play"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-6 pt-5 pt-lg-0">
<div class="row g-4">
<div class="col-sm-6">
<div class="product-card featured-product-card">
<div class="product">
<img src="assets/images/product/feat-3.png" alt="">
<div class="id"><span>ID 0195765</span></div>
</div>
<div class="product-disc">
<h6 class="product-title"><a href="auction/auctionDetails.html" class="">Masrati Mustang GT Premium</a></h6>
<div class="product-auction">
<div class="price">
<span>From</span>
<h6>$79.00</h6>
</div>
<div class="countdown" id="week-countdown3">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Bid Now</a>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="product-card featured-product-card">
<div class="product">
<img src="assets/images/product/feat-4.png" alt="">
<div class="id"><span>ID 0195645</span></div>
</div>
<div class="product-disc">
<h6 class="product-title"><a href="auction/auctionDetails.html" class="">Smart fortwo coupe 1.0 Prime Sport Premium</a></h6>
<div class="product-auction">
<div class="price">
<span>From</span>
<h6>$79.00</h6>
</div>
<div class="countdown" id="week-countdown4">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Bid Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="slider-arrows text-center d-lg-flex d-none  justify-content-end">
<div class="hero-prev2 swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
<div class="hero-next2 swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
</div>
</div>
</div>
</div>


<div class="product-categorys-style-two mt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-header-two text-center">
<h3>Auction Product Category</h3>
</div>
</div>
</div>
<div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3  row-cols-2 justify-content-center gy-4">
<div class="col">
<div class="single-category">
<div class="icon mx-auto ">
<img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
<img src="assets/images/icon/car-white.svg" alt="" class="icon2">
<div class="category-count"><span>30</span></div>
</div>
<h6>Tyota</h6>
<a href="auction/auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
</div>
</div>
<div class="col">
<div class="single-category">
<div class="icon mx-auto ">
<img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
<img src="assets/images/icon/car-white.svg" alt="" class="icon2">
<div class="category-count"><span>30</span></div>
</div>
<h6>Primio car</h6>
<a href="auction/auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
</div>
</div>
<div class="col">
<div class="single-category">
<div class="icon mx-auto ">
<img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
<img src="assets/images/icon/car-white.svg" alt="" class="icon2">
<div class="category-count"><span>30</span></div>
</div>
<h6>Audi</h6>
<a href="auction/auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
</div>
</div>
<div class="col">
<div class="single-category">
<div class="icon mx-auto ">
<img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
<img src="assets/images/icon/car-white.svg" alt="" class="icon2">
<div class="category-count"><span>30</span></div>
</div>
<h6>BMW</h6>
<a href="auction/auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
</div>
</div>
<div class="col">
<div class="single-category">
<div class="icon mx-auto ">
<img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
<img src="assets/images/icon/car-white.svg" alt="" class="icon2">
<div class="category-count"><span>30</span></div>
</div>
<h6>TESLA</h6>
<a href="auction/auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
</div>
</div>
<div class="col">
<div class="single-category">
<div class="icon mx-auto ">
<img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
<img src="assets/images/icon/car-white.svg" alt="" class="icon2">
<div class="category-count"><span>30</span></div>
</div>
<h6>VOLKSWAGEN</h6>
<a href="auction/auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
</div>
</div>
</div>
</div>
</div>


<div class="live-auction-area mt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-header-two">
<h3>Live Auction</h3>
</div>
</div>
</div>
<div class="row g-4">
<div class="col-lg-4 col-md-6 ">
<div class="product-card product-beta-md">
<div class="product-header">
<h6 class="product-title"><a href="auction/auctionDetails.html">Citroen C4 Picasso 1.6 e-HDi Aird</a></h6>
<h4 class="price">$2,526</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-1.png" alt="">
<div class="id"><span>ID 0195687</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,079.00</h6>
</div>
<div class="countdown" id="week-countdown5">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h6 class="product-title"><a href="auction/auctionDetails.html">Ford Focus 1.8 ZETEC 5d 125 </a></h6>
<h4 class="price">$3,000</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-2.png" alt="">
<div class="id"><span>ID 0195688</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$2,00.00</h6>
</div>
<div class="countdown" id="week-countdown6">
<h6> </h6>
 <span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h6 class="product-title"><a href="auction/auctionDetails.html">Masrati Mustang GT Premium</a></h6>
<h4 class="price">$1500</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-3.png" alt="">
<div class="id"><span>ID 0195689</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$899.00</h6>
</div>
<div class="countdown" id="week-countdown7">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h6 class="product-title"><a href="auction/auctionDetails.html">Citroen C1 AIRSCAPE FEEL EDIT</a></h6>
<h4 class="price">$1,506</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-4.png" alt="">
<div class="id"><span>ID 0195690</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,079.00</h6>
</div>
<div class="countdown" id="week-countdown8">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h6 class="product-title"><a href="auction/auctionDetails.html">Ford Focus 1.8 ZETEC 5d 125</a></h6>
<h4 class="price">$3,526</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-5.png" alt="">
<div class="id"><span>ID 0195691</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$3,000.00</h6>
</div>
<div class="countdown" id="week-countdown9">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="product-card product-beta-md">
<div class="product-header">
<h6 class="product-title"><a href="auction/auctionDetails.html">Smart fortwo Red Mercedes AMG</a></h6>
<h4 class="price">$2,000</h4>
</div>
<div class="product">
<img src="assets/images/product/lp-6.png" alt="">
<div class="id"><span>ID 0195692</span></div>
</div>
<div class="product-disc">
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$2,079.00</h6>
</div>
<div class="countdown" id="week-countdown10">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
<a href="auction/auctionDetails.html" class="bid-btn">Submit A Bid</a>
</div>
</div>
</div>
<div class="view-btn mt-50 text-center">
<a href="auction/auction.html" class="alpha-btn-md-dark">View All</a>
</div>
</div>
</div>
</div>


<div class="up-comming-auction-area mt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-header-two">
<h3>UpComing Auction</h3>
</div>
</div>
</div>
<div class="row g-4">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="product-card product-beta-sm">
<div class="product">
<img src="assets/images/product/product-b1.png" alt="">
<div class="id"><span>ID 0195693</span></div>
</div>
<div class="product-disc">
<h6 class="product-title"> <a href="auction/auctionDetails.html">Ford Mustang GT Premium 2008</a> </h6>
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,279</h6>
</div>
<div class="countdown" id="week-countdown11">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="product-card product-beta-sm">
<div class="product">
<img src="assets/images/product/product-b2.png" alt="">
<div class="id"><span>ID 0195694</span></div>
</div>
<div class="product-disc">
 <h6 class="product-title"> <a href="auction/auctionDetails.html">lamgergini New BOOM 800 Premium</a> </h6>
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,279</h6>
</div>
<div class="countdown" id="week-countdown12">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="product-card product-beta-sm">
<div class="product">
<img src="assets/images/product/product-b3.png" alt="">
<div class="id"><span>ID 0195695</span></div>
</div>
<div class="product-disc">
<h6 class="product-title"> <a href="auction/auctionDetails.html">Smart fortwo coupe 1.0 Prime Sport Premium</a> </h6>
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,279</h6>
</div>
<div class="countdown" id="week-countdown13">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="product-card product-beta-sm">
<div class="product">
<img src="assets/images/product/product-b4.png" alt="">
<div class="id"><span>ID 0195636</span></div>
</div>
<div class="product-disc">
<h6 class="product-title"> <a href="auction/auctionDetails.html">Audi New BOOM 800 21M 1.0 Prime Sport</a> </h6>
<div class="product-acution">
<div class="cv">
<span>current Bid</span>
<h6>$1,279</h6>
</div>
<div class="countdown" id="week-countdown14">
<h6> </h6>
<span>Waiting For Bid</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="win-process-area mt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-header-two text-center">
<h3>Easy 03 Steps To win</h3>
</div>
</div>
</div>
<div class="row g-4 d-flex justify-content-center">
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="single-process">
<span class="corner-1"></span>
<span class="corner-2"></span>
<div class="icon mx-auto">
<img src="assets/images/icon/process1.svg" alt="">
</div>
<div class="process-disc">
<h4><a href="auth/login.html">Log in</a></h4>
<p>No Credit Card Required</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="single-process">
<span class="corner-1"></span>
<span class="corner-2"></span>
<div class="icon mx-auto">
<img src="assets/images/icon/process2.svg" alt="">
</div>
<div class="process-disc">
<h4><a href="auction/auctionDetails.html">Bid Now</a></h4>
<p>Bidding is Free Only If You Win</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="single-process">
<span class="corner-1"></span>
<span class="corner-2"></span>
<div class="icon mx-auto">
<img src="assets/images/icon/process3.svg" alt="">
</div>
<div class="process-disc">
<h4><a href="winner.html">Win</a></h4>
<p>Fun - Excitement - Great Deals</p>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="top-winner-area top-winnner-style-two mt-110">
<div class="container position-relative">
<div class="row">
<div class="col-lg-12">
<div class="section-header-two">
<h3>Top winner</h3>
</div>
</div>
</div>
<div class="swiper winner-slider position-relative">
<div class="swiper-wrapper ">
<div class="swiper-slide">
<div class="winner-gamma">
<div class="winner-image">
<img src="assets/images/winner/winner-b1.png" alt="">
</div>
<div class="winner-info">
<h5 class="winner-name"><a href="winner.html">Esther Howard</a></h5>
<p class="id">ID: 0195608</p>
<a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="winner-gamma">
<div class="winner-image">
<img src="assets/images/winner/winner-b1.png" alt="">
</div>
<div class="winner-info">
<h5 class="winner-name"><a href="winner.html">Eleanor Pena</a></h5>
<p class="id">ID: 0195608</p>
<a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="winner-gamma">
<div class="winner-image">
<img src="assets/images/winner/winner-b1.png" alt="">
</div>
<div class="winner-info">
<h5 class="winner-name"><a href="winner.html">Albert Flores</a></h5>
<p class="id">ID: 0195608</p>
<a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="winner-gamma">
<div class="winner-image">
<img src="assets/images/winner/winner-b1.png" alt="">
</div>
<div class="winner-info">
<h5 class="winner-name"><a href="winner.html">Robert Fox</a></h5>
<p class="id">ID: 0195608</p>
<a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="winner-gamma">
<div class="winner-image">
<img src="assets/images/winner/winner-b1.png" alt="">
</div>
<div class="winner-info">
<h5 class="winner-name"><a href="winner.html">Jane Cooper</a></h5>
<p class="id">ID: 0195608</p>
<a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="winner-gamma">
<div class="winner-image">
<img src="assets/images/winner/winner-b1.png" alt="">
</div>
<div class="winner-info">
<h5 class="winner-name"><a href="winner.html">Jenny Wilson</a></h5>
<p class="id">ID: 0195608</p>
<a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
</div>
</div>
</div>
</div>
</div>

<div class="slider-arrows text-center d-lg-flex d-none ">
<div class="winner-prev swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
<div class="winner-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
</div>
</div>
</div>


<div class="testimonial-area testimonial-style-two mt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-header-two text-center">
<h3>Auction Winners Say</h3>
</div>
</div>
</div>
<div class="row align-items-center">
<div class="col-lg-4 align-items-center">
<div class="testimonial-disc">
<p>Great reviews </p>
<h3>don't belive me! Check what client think of us ?</h3>

<div class="slider-arrows  d-lg-flex d-none gap-4">
<div class="testi-prev2 swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
<div class="testi-next2 swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
</div>
</div>
</div>
<div class="col-lg-8">
<div class="swiper testimonial-slider-two swiper-negetive-space-x pb-2">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="testimonial-gamma">
<div class="testiminial-header">
<div class="reviewer">
<img src="assets/images/testimonial/testi-reviewer1.png" alt="">
</div>
<h5 class="reviewer-name"><a href="winner.html">avator Jaqob</a></h5>
<p>Co-Founder</p>
<ul class="testimonial-rating">
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
</ul>
</div>
<div class="testiminial-body">
<p>Nulla facilisi. Etiam sit amet libero a dolor malesuada faucibus. Suspendisse non massa id orci tempor</p>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="testimonial-gamma">
<div class="testiminial-header">
<div class="reviewer">
<img src="assets/images/testimonial/testi-reviewer2.png" alt="">
</div>
<h5 class="reviewer-name"><a href="winner.html">Robert Jox</a></h5>
<p>Winner 02</p>
<ul class="testimonial-rating">
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
<li><i class="bx bxs-star"></i></li>
</ul>
</div>
<div class="testiminial-body">
<p>Nulla facilisi. Etiam sit amet libero a dolor malesuada faucibus. Suspendisse non massa id orci tempor</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="blog-area blog-style-two mt-110">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-header-two">
<h3>Our recent News</h3>
</div>
</div>
</div>
<div class="row g-4 d-flex justify-content-center">
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="blog-card blog-style-gamma">
<div class="thumb"> 
<a href="blog-details.html"><img src="assets/images/blog/bb1.png" alt=""></a>
</div>
<div class="blog-body">
<h5 class="blog-title"><a href="blog-details.html">Hella Kogi Whatever, Small Batch Pickled</a></h5>
<div class="blog-meta">
<div class="author">
<img src="assets/images/blog/blog-writer1.png" alt="">
</div>
<span class="author">Robart Fox, </span>
<span class="date">March 9, 2021</span>
</div>
<p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
</div>
</div>
</div>
<div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
<div class="blog-card blog-style-gamma">
<div class="thumb">
<a href="blog-details.html"><img src="assets/images/blog/bb2.png" alt=""></a>
</div>
<div class="blog-body">
<h5 class="blog-title"><a href="blog-details.html">Winner of auction auction will get gift</a></h5>
<div class="blog-meta">
<div class="author">
<img src="assets/images/blog/blog-writer1.png" alt="">
</div>
<span class="author">Robart Fox, </span>
<span class="date">March 9, 2021</span>
</div>
<p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
</div>
</div>
</div>
<div class="col-lg-4 col-lg-4 col-md-6 col-sm-6">
<div class="blog-card blog-style-gamma">
<div class="thumb">
<a href="blog-details.html"><img src="assets/images/blog/bb3.png" alt=""></a>
</div>
<div class="blog-body">
<h5 class="blog-title"><a href="blog-details.html">Amet pulvinar varius phare trasem tristique</a></h5>
<div class="blog-meta">
<div class="author">
<img src="assets/images/blog/blog-writer1.png" alt="">
</div>
<span class="author">Robart Fox, </span>
<span class="date">March 9, 2021</span>
</div>
<p>Lorem ipsum dolor sit amet, cras non sagittis pellentes que donec, nunc eleifend</p>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="sponsor-area sponsor-style-one pt-110 pb-110">
<div class="container">
<div class="row row-cols-xxl-6 row-cols-md-4 row-cols-sm-3 row-cols-2 g-3 d-flex justify-content-center">
<div class="col">
<div class="sponsor-logo">
<img class="gray-img" src="assets/images/collection/sp1.png" alt="">
</div>
</div>
<div class="col">
<div class="sponsor-logo">
<img src="assets/images/collection/sp2.png
                    " alt="">
</div>
</div>
<div class="col">
<div class="sponsor-logo">
 <img src="assets/images/collection/sp3.png
                    " alt="">
</div>
</div>
<div class="col">
<div class="sponsor-logo">
<img src="assets/images/collection/sp4.png
                    " alt="">
</div>
</div>
<div class="col">
<div class="sponsor-logo">
<img src="assets/images/collection/sp3.png
                    " alt="">
</div>
</div>
<div class="col">
<div class="sponsor-logo">
<img src="assets/images/collection/sp4.png
                    " alt="">
</div>
</div>
</div>
</div>
</div>


<div class="newslatter-area newslatter-style-one">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-8">
<div class="newslatter-content text-center">
<h2>Sign Up for our Newsletter to Stay Up to Data With tech News!</h2>
<form action="#" id="newslatter_form">
<div class="newslatter-input d-flex flex-sm-nowrap flex-wrap justify-content-center align-items-center gap-md-4 gap-2">
<input type="text" placeholder="Enter Your Email Address">
<button type="submit" class="text-uppercase">subscribe</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


</div>
</body>
</html>