<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Files List</title>
</head>
<body>
<h1>Uploaded Files List</h1>
<table>
    <thead>
    <tr>
        <th>Original File Name</th>
        <th>Uploaded File URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file.originalFileName}"></td>
        <td><a th:href="${file.uploadFileUrl}" th:text="${file.uploadFileUrl}"></a></td>
        <img th:src="@{${file.uploadFileUrl}}" alt="list Image">
    </tr>
    </tbody>
</table>
</body>
</html>