<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>



<div layout:fragment="content1">
<div class="breadcrumb breadcrumb-style-one mb-0 ">
<div class="container">
<div class="col-lg-12 text-center">
<h1 class="breadcrumb-title">Privacy Policy</h1>
<ul class="d-flex justify-content-center breadcrumb-items">
<li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
<li class="breadcrumb-item active">Privacy Policy</li>
</ul>
</div>
</div>
</div>


<div class="privacy-policy-wrapper mt-110">
<div class="container">
<div class="row">
<div class="col-lg-4">

<div class="pp-buttons-wrap">
<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<button class="nav-link active" id="v-btn-pp1" data-bs-toggle="pill" data-bs-target="#v-pills-pp1" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="true">Information </button>
<button class="nav-link" id="v-btn-pp2" data-bs-toggle="pill" data-bs-target="#v-pills-pp2" type="button" role="tab" aria-controls="v-pills-pp2" aria-selected="false">Notification</button>
<button class="nav-link" id="v-btn-pp3" data-bs-toggle="pill" data-bs-target="#v-pills-pp3" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Affiliate Companies </button>
<button class="nav-link" id="v-btn-pp4" data-bs-toggle="pill" data-bs-target="#v-pills-pp4" type="button" role="tab" aria-controls="v-pills-pp1" aria-selected="false">Occasionally</button>
</div>
</div>
</div>
<div class="col-lg-8 pt-5 pt-lg-0">

<div class="tab-content pp-tab-contents" id="v-pills-tabContent">
<div class="tab-pane fade show active pp-tab-body" id="v-pills-pp1" role="tabpanel" aria-labelledby="v-btn-pp1">
<div class="tab-inner-contentbox mt-0">
<h5 class="pp-title pt-0">Introduction</h5>
<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
subscribe, register or make a purchase from nftfox, ‘Site’. </p>
<h5 class="pp-title">Definition of personal data</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus
repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem
consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent
aliquet facilisis</p>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. It has.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Cookies and Similar Technologies</h5>
<p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
<h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Your Rights</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">How you can contact us</h5>
<p>Sem adipiscing tempus ut dis vestibulum, feugiat scelerisque senectus magna sem vel curae. Nulla alias magnis fusce erat tincidunt pulvinar, varius nusenectus, ac hendrerit eget. Venenatis dictumst pellentesque orci lobortisquismassa mi lorem. Vel odio dui ac, pede quod fermentum quam urna, eu amet wisletie nulla, semper erat, donec morbi purus massa blandit rutru</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">Additional Information</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
</div>
<div class="tab-pane fade" id="v-pills-pp2" role="tabpanel" aria-labelledby="v-btn-pp2">
<div class="tab-inner-contentbox mt-0">
<h5 class="pp-title pt-0">Introduction</h5>
<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
subscribe, register or make a purchase from nftfox, ‘Site’. </p>
<h5 class="pp-title">Definition of personal data</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus
repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem
consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent
 aliquet facilisis</p>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. It has.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Cookies and Similar Technologies</h5>
<p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
<h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Your Rights</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">How you can contact us</h5>
<p>Sem adipiscing tempus ut dis vestibulum, feugiat scelerisque senectus magna sem vel curae. Nulla alias magnis fusce erat tincidunt pulvinar, varius nusenectus, ac hendrerit eget. Venenatis dictumst pellentesque orci lobortisquismassa mi lorem. Vel odio dui ac, pede quod fermentum quam urna, eu amet wisletie nulla, semper erat, donec morbi purus massa blandit rutru</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">Additional Information</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
</div>
<div class="tab-pane fade" id="v-pills-pp3" role="tabpanel" aria-labelledby="v-btn-pp3">
<div class="tab-inner-contentbox mt-0">
<h5 class="pp-title pt-0">Introduction</h5>
<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
subscribe, register or make a purchase from nftfox, ‘Site’. </p>
<h5 class="pp-title">Definition of personal data</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus
repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem
consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent
aliquet facilisis</p>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. It has.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Cookies and Similar Technologies</h5>
<p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
<h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Your Rights</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">How you can contact us</h5>
<p>Sem adipiscing tempus ut dis vestibulum, feugiat scelerisque senectus magna sem vel curae. Nulla alias magnis fusce erat tincidunt pulvinar, varius nusenectus, ac hendrerit eget. Venenatis dictumst pellentesque orci lobortisquismassa mi lorem. Vel odio dui ac, pede quod fermentum quam urna, eu amet wisletie nulla, semper erat, donec morbi purus massa blandit rutru</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">Additional Information</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
</div>
<div class="tab-pane fade" id="v-pills-pp4" role="tabpanel" aria-labelledby="v-btn-pp4">
<div class="tab-inner-contentbox mt-0">
<h5 class="pp-title pt-0">Introduction</h5>
<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit,
subscribe, register or make a purchase from nftfox, ‘Site’. </p>
<h5 class="pp-title">Definition of personal data</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus
repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem
consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent
aliquet facilisis</p>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. It has.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s.</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Cookies and Similar Technologies</h5>
<p>We use cookies and similar technologies to provide, protect, and improve our products and services, such as by personalizing content, offering and measuring advertisements, understanding user behavior, and providing a safer experience.</p>
<h6 class="highlighted-text">You can remove or reject cookies using your browser or device settings, but in some cases doing so may affect your ability to use our products and services.</h6>
<ul class="pp-list">
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</li>
<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </li>
</ul>
<h5 class="pp-title">Your Rights</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">How you can contact us</h5>
<p>Sem adipiscing tempus ut dis vestibulum, feugiat scelerisque senectus magna sem vel curae. Nulla alias magnis fusce erat tincidunt pulvinar, varius nusenectus, ac hendrerit eget. Venenatis dictumst pellentesque orci lobortisquismassa mi lorem. Vel odio dui ac, pede quod fermentum quam urna, eu amet wisletie nulla, semper erat, donec morbi purus massa blandit rutru</p>
</div>
<div class="tab-inner-contentbox">
<h5 class="pp-title pt-0">Additional Information</h5>
<p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</body>
</html>