<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<body>
<div layout:fragment="content1">
  <div class="breadcrumb breadcrumb-style-one mb-0 ">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h1 class="breadcrumb-title">FAQ 상세</h1>
        <ul class="d-flex justify-content-center breadcrumb-items">
          <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a th:href="@{/}">Home</a>
          <li class="breadcrumb-item active">FAQ 상세</li>
        </ul>
      </div>
    </div>
  </div>


  <section class="blog-details-section pt-110">
    <div class="container">
      <div class="row gy-5">
        <div class="col-lg-8">

          <div class="blog-details-header">
            <p class="catgory" th:text="${inquiry.category}"></p>
            <h3>[[${inquiry.title}]]</h3>
            <div class="header-meta">
              <div class="meta-item">
                <i class='bx bxs-user'></i><span th:text="${inquiry.nickname}"></span>
              </div>
              <div class="meta-item">
                <i class='bx bx-time'></i><span th:text="${inquiry.createdAt}"></span>
              </div>
            </div>
          </div>

          <div class="blog-dtails-body">
            <div class="blog-details-img">
              <img src="assets/images/blog/blogd.png" alt="">
            </div>
            <p class="common-para" th:text="${inquiry.content}"></p>
          </div>
          &nbsp;
          &nbsp;
          <hr/>
          &nbsp;
          &nbsp;

          <div class="comment-area">
            <h4>Comments</h4>
            <ul class="comment-list">
              <li class="single-comment" th:each="answer : ${inquiry.getAnswers()}">
                <div class="comment-header">
                  <div class="comment-title">
                    <h5 th:text="|admin${answer.authorId}|"></h5>
                    <p th:text="${answer.answeredAt}"></p>
                  </div>
                  <div>
                    <a class="btn edit-btn" th:data-answer-answeredAt="${answer.getAnsweredAt()}">수정</a>
                    <a class="btn delete-btn" th:data-answer-answeredAt="${answer.getAnsweredAt()}">삭제</a>
                  </div>
                </div>
                <div class="comment-body">
                  <p th:text="${answer.content}"></p>
                </div>
              </li>
            </ul>
            <h4>Leave A Comment</h4>
            <form class="comment-form" th:action="@{/admin/inquiry/detail/answer}" method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-inner">
<!--                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                    <input type="hidden" name="inquiryId" th:value="${inquiry.id}"/>
                    <label>Your Message</label>
                    <textarea name="content" placeholder="Enter Your Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="submit-button">Submit Comment</button>
                </div>
              </div>
            </form>
          </div>

          <div>
            <a th:href="@{/admin/inquiry/list}" class="alpha-btn-md-dark">List</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script layout:fragment="script">
  document.addEventListener('DOMContentLoaded', function() {
    document.addEventListener('click', function(event) {

      if (event.target.classList.contains('edit-btn')) {
        event.preventDefault();
        event.stopPropagation(); // 이벤트 전파 방지

        const commentBody = event.target.closest('.single-comment').querySelector('.comment-body');
        const pTag = commentBody.querySelector('p');

        // 텍스트 영역을 생성합니다.
        const textareaHtml = `<textarea class="edit-textarea" name="content" placeholder="${pTag.textContent}"></textarea>`;

        // 기존 p 태그를 숨기고, 새로운 textarea를 추가합니다.
        pTag.style.display = 'none';
        commentBody.insertAdjacentHTML('beforeend', textareaHtml);

        // 버튼의 텍스트를 '저장'으로 변경합니다.
        event.target.textContent = '저장';
        event.target.classList.remove('edit-btn');
        event.target.classList.add('save-btn');
      }

      else if (event.target.classList.contains('save-btn')) {
        event.preventDefault();
        event.stopPropagation(); // 이벤트 전파 방지

        const commentBody = event.target.closest('.single-comment').querySelector('.comment-body');
        const textarea = commentBody.querySelector('.edit-textarea');
        const pTag = commentBody.querySelector('p');

        // p 태그의 내용을 텍스트 영역의 값으로 업데이트합니다.
        if (textarea.value !== '') {
          pTag.textContent = textarea.value;
        }

        console.log(event.target);
        const answeredAt = event.target.getAttribute("data-answer-answeredAt");
        console.log(answeredAt);

        const data = {
          inquiryId : `[[${inquiry.id}]]`,
          content : pTag.textContent,
          answeredAt : answeredAt
        }

        fetch('[[@{/admin/inquiry/detail/answer}]]', {
          method: 'PATCH', // HTTP 메서드
          headers: {
            'Content-Type': 'application/json', // 요청의 내용 타입
          },
          body: JSON.stringify(data) // 서버로 보낼 데이터
        }).then(response => {
          if (response.ok) {
            console.log('Request successful'); // 상태 코드가 200-299일 때
          } else {
            console.error('Request failed with status:', response.status); // 상태 코드가 200-299가 아닐 때
          }
        }) .catch(error => {
          console.error('There was a problem with the fetch operation:', error); // 네트워크 오류 등
        });

        // p 태그를 다시 보이게 하고, 텍스트 영역을 제거합니다.
        pTag.style.display = 'block';
        textarea.remove();

        // 버튼의 텍스트를 원래대로 되돌립니다.
        event.target.textContent = '수정';
        event.target.classList.remove('save-btn');
        event.target.classList.add('edit-btn');
      }

  else if (event.target.classList.contains('delete-btn')) {
      event.preventDefault();
      event.stopPropagation(); // 이벤트 전파 방지

      const commentBox = event.target.closest('.single-comment');
      const commentBody = event.target.closest('.single-comment').querySelector('.comment-body');
      const pTag = commentBody.querySelector('p');
      const answeredAt = event.target.getAttribute("data-answer-answeredAt");

      const data = {
        inquiryId : `[[${inquiry.id}]]`,
        content : pTag.textContent,
        answeredAt : answeredAt
      }

      fetch('[[@{/admin/inquiry/detail/delete/answer}]]', {
        method: 'PATCH', // HTTP 메서드
        headers: {
          'Content-Type': 'application/json', // 요청의 내용 타입
        },
        body: JSON.stringify(data) // 서버로 보낼 데이터
      }).then(response => {
        if (response.ok) {
          console.log('Request successful'); // 상태 코드가 200-299일 때
        } else {
          console.error('Request failed with status:', response.status); // 상태 코드가 200-299가 아닐 때
        }
      }) .catch(error => {
        console.error('There was a problem with the fetch operation:', error); // 네트워크 오류 등
      });

      commentBox.innerHTML = '';
    }
  });
  });
</script>
</body>
</html>