#dashboard {
  .referrals {
    .bg {
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: 0px 6px 18px 0px rgba(16, 5, 54, 0.17);
      padding: 30px;
      margin-bottom: 30px;
    }
    .header {
      h3 {
        color: $blue-dark-color;
        margin-bottom: 15px;
      }
      p {
        margin: 0;
      }
    }
    .shared {
      h4 {
        color: $blue-dark-color;
        margin-bottom: 15px;
        font-weight: 500;
      }
      form {
        margin-bottom: 30px;
        position: relative;
        input {
          padding: 0 180px 0 20px;
          height: 50px;
          border-radius: 25px;
          border: 1px solid rgba(55, 64, 111, 0.2);
          box-shadow: 4.822px 9.887px 8px 0px rgba(167, 169, 192, 0.13);
          width: 100%;
        }
        .copy {
          position: absolute;
          right: 0;
          top: 0;
          padding: 0px 60px;
          margin: 0;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 18px;
          height: 50px;
          border-radius: 25px;
          color: $primary-color;
          background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%);
          box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);
          font-family: $secondary_font_family;
          border: none;
        }
      }
      .social-icons {
        align-items: center;
        ul {
          li {
            padding: 0 5px;
            a {
              display: inline-block;
              padding: 0;
              border: 1px solid #eaeaea;
              border-radius: 50%;
              background-color: $primary-color;
              box-shadow: 0px 15px 30px 0px rgba(119, 123, 146, 0.1);
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              color: $gray-color;
              &.active {
                background: -webkit-linear-gradient(
                  -103deg,
                  #ef774c 0%,
                  #ed684f 35%,
                  #e84351 76%,
                  #e73351 100%
                );
                color: $primary-color;
              }
            }
          }
        }
      }
    }
    .promotions {
      h4 {
        color: $blue-dark-color;
        margin-bottom: 15px;
        font-weight: 500;
      }
      a {
        display: inline-block;
        color: $primary-color;
        border-radius: 30px;
        font-weight: 500;
        padding: 12px 30px 10px;
        font-size: 18px;
        font-family: $secondary_font_family;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
        background: linear-gradient(
          135deg,
          #ff63de 0%,
          #d843e2 44%,
          #b122e6 100%
        );
        margin-top: 10px;
      }
    }
  }
}
