@mixin slider-navs() {
  .owl-prev {
    width: 50px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 13px;
    box-shadow: 0.487px 3.97px 10px 0px rgba(40, 58, 140, 0.3);
    font-weight: 500;
    color: $black-color;
    background-color: rgba(255, 255, 255, 0.102);
    outline: none;
    @include transition(all ease 0.3s);
    &:hover {
      background: -webkit-linear-gradient(45deg, #d73df5 0%, #8f3df5 100%);
      box-shadow: 0.731px 5.955px 13px 0px rgba(40, 58, 140, 0.25);
      @include transition(all ease 0.3s);
    }
  }
  .owl-next {
    color: $primary-color;
    background: linear-gradient(45deg, #d73df5 0%, #8f3df5 100%);
    box-shadow: 0.731px 5.955px 13px 0px rgba(40, 58, 140, 0.25);
    width: 50px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 13px;
    font-weight: 500;
    outline: none;
  }
}

@mixin section-header-btn() {
  padding-top: 20px;
  .view-all {
    display: inline-block;
    padding: 2px 40px 1px;
    border: 1px solid #b59ce4;
    border-radius: 30px;
    color: $black-color;
    line-height: 46px;
    @include transition(all ease 0.5s);
    &:hover {
      color: $primary-color;
      background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%);
      box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);
      @include transition(all ease 0.5s);
    }
  }
}

@mixin auction-item-btn() {
  display: inline-block;
  color: $primary-color;
  border-radius: 30px;
  font-weight: 500;
  padding: 12px 30px 10px;
  font-size: 18px;
  width: 100%;
  max-width: 230px;
  text-align: center;
  font-family: $secondary_font_family;
  background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%);
  box-shadow: -1.04px 4.891px 20px 0px rgba(69, 49, 183, 0.5);
}
