// color
$primary-color: #ffffff;
$white-litte-color: #ffffffe6;
$black-color: #171d1c;
$gray-color: #52606d;
$red-color: #ee4730;
$green-color:#43b055;
$blue-color:  #3f22b3;
$blue-dark-color: #37406f;
$yellow-color: #ff7800;
$navbar-black-color: #693ff5;

// font-family
$primary_font_family: 'Open Sans', sans-serif;
$secondary_font_family: 'Roboto', sans-serif;
